* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: 'Open Sans', sans-serif;
}

body {
    max-width: 850px;
    margin: auto;
}

h1 {
    font-weight: bolder;
    font-size: 1.75rem;
    padding-left: 2rem;    
    display:inline-flex;
}

h2,h3 {
    margin-bottom: .5rem;
}

p {
    margin-bottom: .5rem;
}

header {
    color: #523e33;
    background-color: #94c840;
    padding-top: 1rem;        
}

header section {
    clear: both;
    margin-left: 1rem;
}

header img.logo{
    height: 100px;    
    float: left;    
}

header aside {
    float: right;
    color: white;
    display: inline-flex;
    margin-right: 1rem;
}

header nav {    
    margin-left: 8rem;
    margin-top: 2rem;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-bottom: .5rem;
    background-color: #523e33;
}

header nav li {
    display: inline-block;
    margin-right: 2.2rem;
    text-transform: uppercase;    
}

header nav li a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-size: 1.25rem;
}

header nav li a:hover {
    text-decoration: underline;
}

img.slide {
    width: 100%;
    margin-bottom: .5rem;
}

article {
    margin-top: 1rem;
    margin-left: 1.5rem;
}

article img {
    width: 250px
}

footer {
    background-color: #94c840;
    color: white;
    padding: 0.5rem;
}

footer:after{
    clear: both;
    content: "";
    display: block;
}

footer address {
    margin-top: .5rem;
    font-size: small;
    float: left;
    font-style: normal;
}

footer nav {
    float: right;
}

footer nav li {
    margin-top: 1rem;
    display: inline-block;
    margin-right: 2.2rem;
    color: white;
}

.fa-inverse {
    color: #94c840;
}

.fa-circle {
    color: white;
}

/* Grid system */
.grid {
    width: 100%;
}

.row {
    margin-bottom: 1rem;
}

.row:after {
    content:"";
    display: table ;
    clear:both;
}

[class^="col"] {
    float: left;    
}

.col-1-of-3 {
    width: 33.33%;
}

.col-2-of-3 {
    width: 66.66%;
}

.col-3-of-3 {
    width: 100%;
}
