* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: 'Open Sans', sans-serif;
}

body {
    max-width: 850px;
    margin: auto;
}

h1 {
    font-weight: bolder;
    font-size: 1.75rem;
    padding-left: 2rem;    
    display:inline-flex;
}

h2,h3 {
    margin-bottom: .5rem;
}

p {
    margin-bottom: .5rem;
    border-bottom: 3px solid #94c840;
    padding-bottom: 5px;
}

header {
    color: #523e33;
    background-color: #94c840;
    padding-top: 1rem;        
}

header section {
    clear: both;
    margin-left: 1rem;
}

header img.logo{
    height: 100px;    
    float: left;    
}

header nav {    
    margin-left: 8rem;
    margin-top: 2rem;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-bottom: .5rem;
    background-color: #523e33;
}

header nav li {
    display: inline-block;
    margin-right: 2.2rem;
    text-transform: uppercase;    
}

aside{padding-left:2em;}

header nav li a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-size: 1.25rem;
}

header nav li a:hover {
    text-decoration: underline;
}


.slide {
    width: 100%;
    height:20rem;
    margin-bottom: .5rem;
}


article {
    margin-top: 1rem;
    margin-left: .5rem;
}

footer {
    background-color: #94c840;
    color: white;
    padding: 0.5rem;
}

footer:after{
    clear: both;
    content: "";
    display: block;
}

footer address {
    margin-top: .5rem;
    font-size: small;
    float: left;
    font-style: normal;
}

footer nav {
    float: right;
}

footer nav li {
    margin-top: 1rem;
    display: inline-block;
    margin-right: 2.2rem;
    color: white;
}

.fa-inverse {
    color: #94c840;
}

.fa-circle {
    color: white;
}

[class^="col"] {
    float: left;  
    padding-right: 5px;
}
footer { clear:both;}

.span_2_of_2 {
	width: 100%;
}

.span_1_of_2 {
	width: 49.2%;
}

  GO FULL WIDTH AT LESS THAN 480 PIXELS 

@media only screen and (max-width: 480px) {
	.span_2_of_2 {
		width: 100%; 
	}
	.span_1_of_2 {
		width: 100%; 
	}
}

#register{float:left;}

#register {
  background-color: #ee432e;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee432e), color-stop(50%, #c63929), color-stop(50%, #b51700), color-stop(100%, #891100));
  background-image: -webkit-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
  background-image: -moz-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
  background-image: -ms-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
  background-image: -o-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
  background-image: linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
  border: 1px solid #951100;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 0 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333333;
  box-shadow: inset 0 0 0 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333333;
  color: #fff;
  font: bold 20px/1 "helvetica neue", helvetica, arial, sans-serif;
  padding: 12px 0 14px 0;
  text-align: center;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.8);
  width: 150px; }

#register:hover {
    background-color: #f37873;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f37873), color-stop(50%, #db504d), color-stop(50%, #cb0500), color-stop(100%, #a20601));
    background-image: -webkit-linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
    background-image: -moz-linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
    background-image: -ms-linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
    background-image: -o-linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
    background-image: linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
    cursor: pointer; }

#register:active {
    background-color: #d43c28;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d43c28), color-stop(50%, #ad3224), color-stop(50%, #9c1500), color-stop(100%, #700d00));
    background-image: -webkit-linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
    background-image: -moz-linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
    background-image: -ms-linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
    background-image: -o-linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
    background-image: linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
    -webkit-box-shadow: inset 0 0 0 1px rgba(255, 115, 100, 0.4);
    box-shadow: inset 0 0 0 1px rgba(255, 115, 100, 0.4); }
